@model List<DomainLayer.Contract.Contract>
@using Utilities.Calender
@{
    if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
    <tr>
        <td class="text-center" style="padding:10px;">
            @{
                if (item.Home.IsShow)
                {
                    <input type="checkbox" checked="checked" onchange="Changecheckunpin(@item.Home.Id)" />
                }
                else
                {
                    <input type="checkbox" onchange="Changecheck(@item.Id)" />
                }
            }


        </td>
        <td class="text-center" style="padding:10px;" onclick="updateitem(@item.Home.Id)">
            <a href="@item.Home.Image"><img style="width:40px;height:40px;" src="@item.Home.Image" /></a>
        </td>
        <td class="text-center" style="padding:10px;" onclick="updateitem(@item.Id)">
            @{
                string adviser = "مشاور ندارد";
                if (item.AdviserId != null)
                {
                    adviser = item.Adviser.Name + " " + item.Adviser.Family;
                }
                @adviser
            }
        </td>
        <td class="text-center" style="padding:10px;">
            @{
                string s = Calender.OnlyPersianDate(item.Home.Date);
            }
            @s
        </td>

        <td class="text-center" style="padding:10px;" onclick="updateitem(@item.Home.Id)">
            @item.Home.Address
        </td>
        <td class="text-center" style="padding:10px;" onclick="updateitem(@item.Home.Id)">
            @{
                string ss = "خرید";
                if (item.TypContract == DomainLayer.Enums.TypeHome.Rent)
                {
                    ss = "رهن و اجاره";
                }
                else if (item.TypContract == DomainLayer.Enums.TypeHome.build)
                {
                    ss = "ساخت و ساز";
                }
                @ss
            }
        </td>
        <td class="text-center" style="padding:10px;" onclick="updateitem(@item.Home.Id)">
            @{
                string cost = item.BuyCost.ToString("#,##0");
                if (item.TypContract == DomainLayer.Enums.TypeHome.Rent)
                {
                    cost = item.RentCOst.ToString("#,##0") + " " + item.Vadie.ToString("#,##0");
                }
                @cost
            }
        </td>
        <td class="text-center" style="padding:10px;" onclick="updateitem(@item.Home.Id)">
            @item.Metraz - @item.MetrazZamin
        </td>
        <td class="text-center" style="padding:10px;"><p data-placement="top" data-toggle="tooltip" title="گالری تصاویر"><a href="/HomeGalleryManagment/Index?homeid=@item.Home.Id" + id" class="btn btn-success btn-xs">گالری تصاویر</a></p></td>
        <td class="text-center" style="padding:10px;"><p data-placement="top" data-toggle="tooltip" title="نقشه 3 بعدی"><a class="btn btn-warning btn-xs" onclick="map('@item.Home.ThreeDView')">360 درجه</a></p></td>
        <td class="text-center" style="padding:10px;"><p data-placement="top" data-toggle="tooltip" title="حذف"><a class="btn btn-danger btn-xs" onclick="deleteitem(@item.Home.Id)"><i class="ion ion-ios-trash"></i></a></p></td>
    </tr>
        }

    }

}