@model ViewModelLayer.HomeManagment.MainSearch
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Managment.cshtml";
}


<link href="~/css/alert/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<script src="~/css/alert/sweetalert.js"></script>

<style>
    tr:nth-child(even) {
        background: rgba(126, 136, 241, 0.59)
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #af1e1e;
        color: white;
        direction: rtl;
    }

    span {
        direction: rtl;
    }
</style>

<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/HomeManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">جستجحو پیشرفته </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>جستجحو پیشرفته</h4>
</div>



<p style="margin-right:50px;">
    <a href="/HomeManagment/Create" class="btn btn-default">افزودن خانه جدید</a>
    <a href="/HomeManagment/Index" class="btn btn-default">جستجوی سریع</a>
    <a href="/Map/Index" class="btn btn-default">جستجوی روی نقشه</a>
</p>

<div class="container">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title" جستجحو پیشرفته</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-1 control-label">نوع ملک</label>
                    <div class="col-sm-4">
                        <select class="form-control select2 text-center btn-block" data-placeholder="   محلات را انتخاب کن  "
                                style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">

                            <option value="1">آپارتمان</option>
                            <option value="2">خانه حیاط دار </option>
                            <option value="3">زمین</option>
                            <option value="4">کلنگی</option>
                            <option value="5">اداری</option>
                            <option value="6">مغازه </option>
                            <option value="7">مستقلات</option>
                            <option value="8">انبار</option>
                            <option value="9">باغ</option>
                            <option value="10">ویلا</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-1 control-label">محله</label>
                    <div class="col-sm-4">
                        <select class="form-control select2 text-center btn-block" multiple="multiple" data-placeholder="   محلات را انتخاب کن  "
                                style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">
                            @foreach (var item in Model.Mahalles)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-1 control-label">نوع قرارداد</label>
                    <div class="col-sm-4">
                        <select class="form-control select2 text-center btn-block" data-placeholder="   نوع قرارداد را انتخاب کن  "
                                style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">
                            <option value="1">خرید و فروش</option>
                            <option value="2">رهن و اجاره </option>
                            <option value="3">ساخت و ساز</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">حداقل قیمت</label>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control select2 text-center btn-block" data-placeholder="   حداقل قیمت  "
                                        style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">
                                    @foreach (var item in Model.CostSetting)
                                    {
                                        <option value="@item.CostChance">@item.Cost</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <label for="inputEmail3" class="col-sm-1 control-label">حداکثر قیمت</label>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control select2 text-center btn-block" data-placeholder="   حداکثر قیمت  "
                                        style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">
                                    @foreach (var item in Model.CostSetting)
                                    {
                                        <option value="@item.CostChance">@item.Cost</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">حداقل متراژ</label>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control select2 text-center btn-block" data-placeholder="   حداقل متراژ را انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">
                                    @foreach (var item in Model.MetrazSetting)
                                    {
                                        <option value="@item.MetrazChance">@item.Metraz</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <label for="inputEmail3" class="col-sm-1 control-label">حداکثر متراژ</label>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <select class="form-control select2 text-center btn-block" data-placeholder="   حداکثر متراژ را انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" name="mahale" id="mahale">
                                    @foreach (var item in Model.MetrazSetting)
                                    {
                                        <option value="@item.MetrazChance">@item.Metraz</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-1 control-label">کد ملک</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="کد ملک">
                    </div>
                    <label for="inputEmail3" class="col-sm-2 control-label">تعداد اتاق خواب</label>

                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="inputEmail3" placeholder="تعداد اتاق خواب">
                    </div>
                    <label for="inputEmail3" class="col-sm-1 control-label">تعداد حمام</label>

                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="inputEmail3" placeholder="تعداد حمام">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a  class="btn btn-info pull-right" onclick="searchitem()">جستجو</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <h3 class="text-center">ملک های تایید نشده</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 box">
            <div class="table-responsive box-body">
                <table id="mytable" class="table table-bordered table-hover" style="background-color:white;">
                    <thead>
                        <tr>
                            <th class="text-center">تایید شده ؟</th>
                            <th class="text-center">عکس</th>
                            <th class="text-center">زمان انتشار</th>
                            <th class="text-center">عمومی / خصوصی</th>
                            <th class="text-center">ادرس</th>
                            <th class="text-center">کد پستی</th>
                            <th class="text-center">لیست قراردادها</th>
                            <th class="text-center">گالری تصاویر</th>
                            <th class="text-center">نقشه 3 یعدی</th>
                            <th class="text-center">حذف</th>
                        </tr>
                    </thead>
                    <tbody id="showfilterbox">
                        @await Html.PartialAsync("_ListAjax", Model.Homes)
                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>


<script>


    function deleteitem(id) {
        swal({
            title: "آیا میخواهید حذف شود؟",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "بله حذف شود",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    sendtoservertodelete(id);

                } else {
                    swal("صرف نظر", "حذف نشد", "error");
                }
            });
    }

    function sendtoservertodelete(id) {
        $.ajax({
            type: "Post",
            url: '/HomeManagment/Delete',
            data: { id: id },
            success: function (data) {
                window.location.reload();
            }
        });
    }

    function updateitem(id) {
        window.location.href = "/HomeManagment/Update?id=" + id;
    }

    function map(url) {
        window.location.href = url;
    }

    function gallery(id) {
        window.location.href = "/HomeGalleryManagment/Index?homeid=" + id;
        }

    function Changecheck(id) {
         $.ajax({
            type: "Post",
            url: '/HomeManagment/CheckChange',
            data: { id: id },
            success: function (data) {
                window.location.reload();
            }
        });
    }

    function searchitem() {

    }
</script>