@model ViewModelLayer.Home.MaghazeFacility
@{
    ViewData["Title"] = "CreateFacility";
    Layout = "~/Views/Shared/_Managment.cshtml";
}

<style>

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #af1e1e;
        color: white;
        direction: rtl;
    }

    span {
        direction: rtl;
    }
</style>
<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/HomeMaghaze/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">مغازه جدید </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>درج اطلاعات مغازه</h4>
    در اینجا میتوانید مرحله دوم اطلاعات مغازه را وارد کنید


</div>

<div class="container">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">درج اطلاعات مغازه</h3>
        </div>
        <form asp-action="UpdateItem">

            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger row"></div>

                <input name="HomeId" id="HomeId" type="number" class="hidden" value="@ViewData["Id"]">
                <input name="Id" id="Id" type="number" class="hidden" value="@Model.Maghaze.Id">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>متراژ کف مغازه</h4>
                            <input asp-for="Maghaze.MetrazhKafMaghaze" type="number" min="0" class="form-control" placeholder="متراژ کف مغازه">
                            <span asp-validation-for="Maghaze.MetrazhKafMaghaze" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <h4>دهنه مغازه</h4>
                            <input asp-for="Maghaze.DahaneMaghaze" type="number" min="0" class="form-control" placeholder="دهنه مغازه">
                            <span asp-validation-for="Maghaze.DahaneMaghaze" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <h4>طبقه</h4>
                            <input asp-for="Maghaze.Tabaghe" type="number" min="0" class="form-control" placeholder="طبقه">
                            <span asp-validation-for="Maghaze.Tabaghe" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <h4>متراژ بالکن</h4>
                            <input asp-for="Maghaze.Metrazhbalkon" type="number" min="0" class="form-control" placeholder="متراژ بالکن">
                            <span asp-validation-for="Maghaze.Metrazhbalkon" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <h4>متراژ انبار</h4>
                            <input asp-for="Maghaze.Metrazhanbar" type="number" min="0" class="form-control" placeholder="متراژ انبار">
                            <span asp-validation-for="Maghaze.Metrazhanbar" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>نام نگهبان</h4>
                            <input asp-for="Maghaze.NegahbaniName" type="text" class="form-control" placeholder="نام نگهبان">
                            <span asp-validation-for="Maghaze.NegahbaniName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <h4>شماره نگهبان</h4>
                            <input asp-for="Maghaze.NegahbaniPhone" type="text" class="form-control" placeholder="شماره نگهبان">
                            <span asp-validation-for="Maghaze.NegahbaniPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> موقعیت ملک :</h4>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Maghaze.Homemogheiat" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakMogheiatMelk.Count; i++)
                                    {
                                        <option value="@Model.AmlakMogheiatMelk[i].Name">@Model.AmlakMogheiatMelk[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> مشخصه ملک :</h4>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="  انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" name="homemoshakhase" id="homemoshakhase">
                                @for (var i = 0; i < Model.AmlakMoshakhase.Count; i++)
                                {
                                    if (Model.Maghaze.Homemoshakhase.Contains(Model.AmlakMoshakhase[i].Name))
                                    {
                                        <option value="@Model.AmlakMoshakhase[i].Name" selected="selected">@Model.AmlakMoshakhase[i].Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.AmlakMoshakhase[i].Name">@Model.AmlakMoshakhase[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> وضعیت ملک :</h4>
                            <div class="custom-select" style="">
                                <select class="form-control select2 text-center" multiple="multiple" data-placeholder="  انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" name="homestatus" id="homestatus">
                                    @for (var i = 0; i < Model.AmlakMelkStatus.Count; i++)
                                    {
                                        if (Model.Maghaze.Homevaziatemelk.Contains(Model.AmlakMelkStatus[i].Name))
                                        {
                                            <option value="@Model.AmlakMelkStatus[i].Name" selected="selected">@Model.AmlakMelkStatus[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.AmlakMelkStatus[i].Name">@Model.AmlakMelkStatus[i].Name</option>
                                        }

                                    }
                                </select>
                            </div>

                        </div>
                    </div>

                </div>


                <hr />


                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> وضعیت سند :</h4>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Maghaze.Homesanad" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakSanadStatus.Count; i++)
                                    {
                                        <option value="@Model.AmlakSanadStatus[i].Name">@Model.AmlakSanadStatus[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <h4> امتیاز  :</h4>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" name="homeemtiaz" id="homeemtiaz">
                                @for (var i = 0; i < Model.AmlakEmtiazes.Count; i++)
                                {
                                    if (Model.Maghaze.HomeEmtiaz.Contains(Model.AmlakEmtiazes[i].Name))
                                    {
                                        <option value="@Model.AmlakEmtiazes[i].Name" selected="selected">@Model.AmlakEmtiazes[i].Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.AmlakEmtiazes[i].Name">@Model.AmlakEmtiazes[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> سرویس بهداشتی و حمام  :</h4>
                            <select class="form-control select2 text-center btn-block" multiple="multiple" data-placeholder="   انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" name="homewc" id="homewc">
                                @for (var i = 0; i < Model.AmlakWC.Count; i++)
                                {
                                    if (Model.Maghaze.Homewc.Contains(Model.AmlakWC[i].Name))
                                    {
                                        <option value="@Model.AmlakWC[i].Name" selected="selected">@Model.AmlakWC[i].Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.AmlakWC[i].Name">@Model.AmlakWC[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>



                </div>


                <hr />

                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> نوع پارکینگ :</h4>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Maghaze.Homeparking" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakParking.Count; i++)
                                    {
                                        <option value="@Model.AmlakParking[i].Id">@Model.AmlakParking[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> نوع دیوار  :</h4>
                            <div>
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Maghaze.Homedivar" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakDivars.Count; i++)
                                    {
                                        <option value="@Model.AmlakDivars[i].Id">@Model.AmlakDivars[i].Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>

                </div>



                <hr />

                <div class="form-group">
                    <button type="submit" class="btn btn-success">ویرایش اطلاعات مغازه - رفتن به مرحله بعد </button>
                </div>

            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.box -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}