@model ViewModelLayer.Home.ApartemanFacility
@{
    ViewData["Title"] = "CreateFacility";
    Layout = "~/Views/Shared/_Managment.cshtml";
}

<style>
 

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #af1e1e;
        color: white;
        direction: rtl;
    }

    span {
        direction: rtl;
    }
</style>

<section class="content-header">
    <h1>
        داشبرد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/HomeApartemanManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">اپارتمان جدید </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>درج اطلاعات اپارتمان</h4>
    در اینجا میتوانید مرحله دوم درج اطلاعات اپارتمان را وارد کنید
    و اطلاعات اپارتمان را وارد کنید

</div>

<div class="container">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">درج اطلاعات اپارتمان</h3>
        </div>
        <form asp-action="CreateFacilityItem" style="direction:rtl;">

            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger row"></div>

                <input name="HomeId" id="HomeId" type="number" class="hidden" value="@ViewData["Id"]">

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>متراژ بنا</h4>
                            <input asp-for="Aparteman.MetrazhBena" type="number" class="form-control" placeholder="متراژ بنا" value="1">
                            <span asp-validation-for="Aparteman.MetrazhBena" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <h4>متراژ زمین</h4>
                            <input asp-for="Aparteman.Metrazhzamin" type="number" class="form-control" placeholder="متراژ زمین" value="1">
                            <span asp-validation-for="Aparteman.Metrazhzamin" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <h4>طبقه</h4>
                            <input asp-for="Aparteman.Tabaghe" type="number" class="form-control" placeholder="طبقه" value="1">
                            <span asp-validation-for="Aparteman.Tabaghe" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <h4>تعداد کل طبقات</h4>
                            <input asp-for="Aparteman.Tedadkoltabaghat" type="number" class="form-control" placeholder="تعداد کل طبقات" value="1">
                            <span asp-validation-for="Aparteman.Tedadkoltabaghat" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>تعداد کل واحد ها</h4>
                            <input asp-for="Aparteman.Tedadkolvahedha" type="number" class="form-control" placeholder="تعداد کل واحد ها" value="1">
                            <span asp-validation-for="Aparteman.Tedadkolvahedha" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2">
                            <h4>تعداد واحد ها در طبقه</h4>
                            <input asp-for="Aparteman.Tedadvaheddartabaghe" type="number" class="form-control" placeholder="تعداد واحد ها در طبقه" value="1">
                            <span asp-validation-for="Aparteman.Tedadkoltabaghat" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>نام نگهبان</h4>
                            <input asp-for="Aparteman.NegahbaniName" type="text" class="form-control" placeholder="نام نگهبان">
                            <span asp-validation-for="Aparteman.NegahbaniName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <h4>شماره نگهبان</h4>
                            <input asp-for="Aparteman.NegahbaniPhone" type="number" class="form-control" placeholder="شماره نگهبان">
                            <span asp-validation-for="Aparteman.NegahbaniPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> موقعیت ملک :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homemogheiat" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakMogheiatMelk.Count; i++)
                                    {
                                        <option value="@Model.AmlakMogheiatMelk[i].Name">@Model.AmlakMogheiatMelk[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> جهت واحد :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homejahatevahed" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakJahatVahedes.Count; i++)
                                    {
                                        <option value="@Model.AmlakJahatVahedes[i].Name">@Model.AmlakJahatVahedes[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> نمای ساختمان :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homenema" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakNema.Count; i++)
                                    {
                                        <option value="@Model.AmlakNema[i].Name">@Model.AmlakNema[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <hr />

                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> وضعیت سند :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homesanad" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakSanadStatus.Count; i++)
                                    {
                                        <option value="@Model.AmlakSanadStatus[i].Name">@Model.AmlakSanadStatus[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> تاسیسات گرمایشی و سرمایشی :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Hometasisat" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakTasisatGarmaieshi.Count; i++)
                                    {
                                        <option value="@Model.AmlakTasisatGarmaieshi[i].Name">@Model.AmlakTasisatGarmaieshi[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> نوع و تعداد پارکینگ :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homeparking" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakParking.Count; i++)
                                    {
                                        <option value="@Model.AmlakParking[i].Name">@Model.AmlakParking[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <hr />

                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> مشخصه ملک :</h4>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="  انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" name="Homemoshakhase" id="Homemoshakhase">
                                @for (var i = 0; i < Model.AmlakMoshakhase.Count; i++)
                                {
                                    <option value="@Model.AmlakMoshakhase[i].Name">@Model.AmlakMoshakhase[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> مشاعات :</h4>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" name="Homemoshaat" id="Homemoshaat">
                                @for (var i = 0; i < Model.AmlakMoshaat.Count; i++)
                                {
                                    <option value="@Model.AmlakMoshaat[i].Name">@Model.AmlakMoshaat[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> وضعیت ملک :</h4>
                            <div class="custom-select" style="">
                                <select class="form-control select2 text-center" multiple="multiple" data-placeholder="  انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" name="Homevaziate" id="Homevaziate">
                                    @for (var i = 0; i < Model.AmlakMelkStatus.Count; i++)
                                    {
                                        <option value="@Model.AmlakMelkStatus[i].Name">@Model.AmlakMelkStatus[i].Name</option>
                                    }
                                </select>
                            </div>
                            
                        </div>
                    </div>

                </div>

                <br />
                <hr />


                <div class="row">
                    <div class="col-lg-3">
                        <div class="">
                            <h4> پوشش کف :</h4>
                            <div class="custom-select" style="">
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homekaf" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakKafes.Count; i++)
                                    {
                                        <option value="@Model.AmlakKafes[i].Name">@Model.AmlakKafes[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> نوع دیوار  :</h4>
                            <div>
                                <select style="padding:10px;width:100%;" asp-for="Aparteman.Homedivar" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakDivars.Count; i++)
                                    {
                                        <option value="@Model.AmlakDivars[i].Name">@Model.AmlakDivars[i].Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="">
                            <h4> آشپزخانه :</h4>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" name="Homekitchen" id="Homekitchen">
                                @for (var i = 0; i < Model.AmlakKitchenes.Count; i++)
                                {
                                    <option value="@Model.AmlakKitchenes[i].Name">@Model.AmlakKitchenes[i].Name</option>
                                }
                            </select>

                        </div>
                    </div>



                </div>


                <br />
                <hr />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="">
                                <h4> سرویس بهداشتی و حمام  :</h4>
                                <select class="form-control select2 text-center btn-block" multiple="multiple" data-placeholder="   انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" name="Homewc" id="Homewc">
                                    @for (var i = 0; i < Model.AmlakWC.Count; i++)
                                    {
                                        <option value="@Model.AmlakWC[i].Name">@Model.AmlakWC[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                       

                        <div class="col-lg-3">
                            <div class="">
                                <h4> امتیاز  :</h4>
                                <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" name="HomeEmtiaz" id="HomeEmtiaz">
                                    @for (var i = 0; i < Model.AmlakEmtiazes.Count; i++)
                                    {
                                        <option value="@Model.AmlakEmtiazes[i].Name">@Model.AmlakEmtiazes[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    </div>

                    <br />
                    <hr />




                    <div class="form-group">
                        <button type="submit" class="btn btn-success">درج اطلاعات اپارتمان - رفتن به مرحله بعد </button>
                    </div>

                </div>
</form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.box -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started').multiselect();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}