@model ViewModelLayer.Home.ApartemanFacility
@{
    ViewData["Title"] = "CreateFacility";
    Layout = "~/Views/Shared/_Managment.cshtml";
}

<style>


    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #af1e1e;
        color: white;
        direction: rtl;
    }

    span {
        direction: rtl;
    }
</style>

<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/HomeApartemanManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">اپارتمان جدید </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>ویرایش اطلاعات اپارتمان</h4>
    در اینجا میتوانید مرحله دوم ویرایش اطلاعات اپارتمان را وارد کنید
    و اطلاعات اپارتمان را وارد کنید

</div>

<div class="container">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">ویرایش اطلاعات اپارتمان</h3>
        </div>
        <form asp-action="UpdateItem" style="direction:rtl;">

            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger row"></div>

                <input name="HomeId" id="HomeId" type="number" class="hidden" value="@Model.Aparteman.HomeId">
                <input name="Id" id="Id" type="number" class="hidden" value="@Model.Aparteman.Id">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4>طبقه</h4>
                            <input asp-for="Aparteman.Tabaghe" type="number" min="0" class="form-control" placeholder="طبقه">
                            <span asp-validation-for="Aparteman.Tabaghe" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <h5>تعداد کل طبقات</h5>
                            <input asp-for="Aparteman.Tedadkoltabaghat" min="0" type="number" class="form-control" placeholder="تعداد کل طبقات">
                            <span asp-validation-for="Aparteman.Tedadkoltabaghat" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">

                        <div class="col-lg-3">
                            <h5>تعداد کل واحد ها</h5>
                            <input asp-for="Aparteman.Tedadkolvahedha" min="0" type="number" class="form-control" placeholder="تعداد کل واحد ها">
                            <span asp-validation-for="Aparteman.Tedadkolvahedha" class="text-danger"></span>
                        </div>

                        <div class="col-lg-3">
                            <h5>تعداد واحد ها در طبقه</h5>
                            <input asp-for="Aparteman.Tedadvaheddartabaghe" min="0" type="number" class="form-control" placeholder="تعداد واحد ها در طبقه" >
                            <span asp-validation-for="Aparteman.Tedadkoltabaghat" class="text-danger"></span>
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>نام نگهبان</h4>
                            <input asp-for="Aparteman.NegahbaniName" type="text" class="form-control" placeholder="نام نگهبان">
                            <span asp-validation-for="Aparteman.NegahbaniName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4">
                            <h4>شماره نگهبان</h4>
                            <input asp-for="Aparteman.NegahbaniPhone" type="text" class="form-control" placeholder="شماره نگهبان">
                            <span asp-validation-for="Aparteman.NegahbaniPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <h5> موقعیت ملک @Model.Aparteman.Homemogheiat تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Aparteman.Homemogheiat" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakMogheiatMelk.Count; i++)
                                    {
                                        <option value="@Model.AmlakMogheiatMelk[i].Name">@Model.AmlakMogheiatMelk[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> جهت واحد @Model.Aparteman.Homejahatevahed تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Aparteman.Homejahatevahed" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakJahatVahedes.Count; i++)
                                    {
                                        <option value="@Model.AmlakJahatVahedes[i].Name">@Model.AmlakJahatVahedes[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> نمای ساختمان @Model.Aparteman.Homenema تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Aparteman.Homenema" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakNema.Count; i++)
                                    {
                                        <option value="@Model.AmlakNema[i].Name">@Model.AmlakNema[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <hr />

                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <h5> وضعیت سند @Model.Aparteman.Homesanad تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Aparteman.Homesanad" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakSanadStatus.Count; i++)
                                    {
                                        <option value="@Model.AmlakSanadStatus[i].Name">@Model.AmlakSanadStatus[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> تاسیسات گرمایشی و سرمایشی @Model.Aparteman.Hometasisat تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" multiple style="padding:10px;width:100%;" asp-for="Aparteman.Hometasisat" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakTasisatGarmaieshi.Count; i++)
                                    {
                                        if (Model.Aparteman.Hometasisat.Contains(Model.AmlakTasisatGarmaieshi[i].Name))
                                        {
                                            <option value="@Model.AmlakTasisatGarmaieshi[i].Name" selected="selected">@Model.AmlakTasisatGarmaieshi[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.AmlakTasisatGarmaieshi[i].Name">@Model.AmlakTasisatGarmaieshi[i].Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> نوع پارکینگ @Model.Aparteman.Homeparking تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" multiple style="padding:10px;width:100%;" asp-for="Aparteman.Homeparking" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakParking.Count; i++)
                                    {
                                        if (Model.Aparteman.Homeparking.Contains(Model.AmlakParking[i].Name))
                                        {
                                            <option value="@Model.AmlakParking[i].Name" selected="selected">@Model.AmlakParking[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.AmlakParking[i].Name">@Model.AmlakParking[i].Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <br />
                <hr />

                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <h5> مشخصه ملک @Model.Aparteman.Homemoshakhase تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="  انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" asp-for="Aparteman.Homemoshakhase" name="Homemoshakhase" id="Homemoshakhase">
                                @for (var i = 0; i < Model.AmlakMoshakhase.Count; i++)
                                {
                                    if (Model.Aparteman.Homemoshakhase.Contains(Model.AmlakMoshakhase[i].Name))
                                    {
                                        <option value="@Model.AmlakMoshakhase[i].Name" selected="selected">@Model.AmlakMoshakhase[i].Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.AmlakMoshakhase[i].Name">@Model.AmlakMoshakhase[i].Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> وضعیت ملک @Model.Aparteman.Homevaziate تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2 text-center" multiple="multiple" data-placeholder="  انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" asp-for="Aparteman.Homevaziate" name="Homevaziate" id="Homevaziate">
                                    @for (var i = 0; i < Model.AmlakMelkStatus.Count; i++)
                                    {
                                        if (Model.Aparteman.Homevaziate.Contains(Model.AmlakMelkStatus[i].Name))
                                        {
                                            <option value="@Model.AmlakMelkStatus[i].Name" selected="selected">@Model.AmlakMelkStatus[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.AmlakMelkStatus[i].Name">@Model.AmlakMelkStatus[i].Name</option>
                                        }
                                        <option value="@Model.AmlakMelkStatus[i].Name">@Model.AmlakMelkStatus[i].Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>

                </div>

                <br />
                <hr />


                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <h5> پوشش کف @Model.Aparteman.Homekaf تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <div class="custom-select" style="">
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Aparteman.Homekaf" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakKafes.Count; i++)
                                    {
                                        <option value="@Model.AmlakKafes[i].Name">@Model.AmlakKafes[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> نوع دیوار @Model.Aparteman.Homedivar تنظیم شده است میتوانید در زیر تغییر دهید :</h5>
                            <div>
                                <select class="form-control select2" style="padding:10px;width:100%;" asp-for="Aparteman.Homedivar" onchange="checkcityval()">
                                    @for (var i = 0; i < Model.AmlakDivars.Count; i++)
                                    {
                                        <option value="@Model.AmlakDivars[i].Name">@Model.AmlakDivars[i].Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="">
                            <h5> آشپزخانه @Model.Aparteman.Homekitchen تنظیم شده است میتوانید در زیر تغییر دهید:</h5>
                            <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                    style="width: 100%;direction:rtl;float:right;" asp-for="Aparteman.Homekitchen" name="Homekitchen" id="Homekitchen">
                                @for (var i = 0; i < Model.AmlakKitchenes.Count; i++)
                                {

                                    if (Model.Aparteman.Homekitchen.Contains(Model.AmlakKitchenes[i].Name))
                                    {
                                        <option value="@Model.AmlakKitchenes[i].Name" selected="selected">@Model.AmlakKitchenes[i].Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.AmlakKitchenes[i].Name">@Model.AmlakKitchenes[i].Name</option>
                                    }

                                }
                            </select>

                        </div>
                    </div>



                </div>


                <br />
                <hr />
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="">
                                <h5> سرویس بهداشتی و حمام @Model.Aparteman.Homewc تنظیم شده است میتوانید در زیر تغییر دهید :</h5>
                                <select class="form-control select2 text-center btn-block" multiple="multiple" data-placeholder="   انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" asp-for="Aparteman.Homewc" name="Homewc" id="Homewc">
                                    @for (var i = 0; i < Model.AmlakWC.Count; i++)
                                    {
                                        if (Model.Aparteman.Homewc.Contains(Model.AmlakWC[i].Name))
                                        {
                                            <option value="@Model.AmlakWC[i].Name" selected="selected">@Model.AmlakWC[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.AmlakWC[i].Name">@Model.AmlakWC[i].Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>



                        <div class="col-lg-4">
                            <div class="">
                                <h5> امتیاز @Model.Aparteman.HomeEmtiaz تنظیم شده است میتوانید در زیر تغییر دهید :</h5>
                                <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" asp-for="Aparteman.HomeEmtiaz" name="HomeEmtiaz" id="HomeEmtiaz">
                                    @for (var i = 0; i < Model.AmlakEmtiazes.Count; i++)
                                    {
                                        if (Model.Aparteman.HomeEmtiaz.Contains(Model.AmlakEmtiazes[i].Name))
                                        {
                                            <option value="@Model.AmlakEmtiazes[i].Name" selected="selected">@Model.AmlakEmtiazes[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.AmlakEmtiazes[i].Name">@Model.AmlakEmtiazes[i].Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="">
                                <h5> امکانات @Model.Aparteman.HomeFacilities تنظیم شده است میتوانید در زیر تغییر دهید :</h5>
                                <select class="form-control select2 text-center" multiple="multiple" data-placeholder="   انتخاب کن  "
                                        style="width: 100%;direction:rtl;float:right;" asp-for="Aparteman.HomeFacilities" name="HomeFacility" id="HomeFacility">
                                    @for (var i = 0; i < Model.HomeFacility.Count; i++)
                                    {
                                        if (Model.Aparteman.HomeFacilities.Contains(Model.HomeFacility[i].Name))
                                        {
                                            <option value="@Model.HomeFacility[i].Name" selected="selected">@Model.HomeFacility[i].Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.HomeFacility[i].Name">@Model.HomeFacility[i].Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <hr />

                <div class="form-group">
                    <button type="submit" class="btn btn-success">ویرایش اطلاعات اپارتمان - رفتن به مرحله بعد </button>
                </div>

            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.box -->
</div>

<script type="text/javascript">

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}