@model List<DomainLayer.Contract.Contract>

    <div class="row" style="margin-left: 3px;margin-right: 3px;">
            @foreach (var item in Model)
            {
                string s = "آپارتمان";
                if (item.Home.Hometype == 2)
                {
                    s = "خانه حیاط دار";
                }
                else if (item.Home.Hometype == 3)
                {
                    s = "زمین";
                }
                else if (item.Home.Hometype == 4)
                {
                    s = "کلنگی";
                }
                else if (item.Home.Hometype == 5)
                {
                    s = "اداری";
                }
                else if (item.Home.Hometype == 6)
                {
                    s = "مغازه";
                }
                else if (item.Home.Hometype == 7)
                {
                    s = "مستقلات";
                }
                else if (item.Home.Hometype == 8)
                {
                    s = "انبار";
                }
                else if (item.Home.Hometype == 9)
                {
                    s = "باغ";
                }
                else if (item.Home.Hometype == 10)
                {
                    s = "ویلا ";
                }
            <div class="col-lg-6 col-md-6 col-sm-12 zoom" style="padding-left:10px;">
                <a href="/Home/Detail?homeid=@item.Home.Id&contractid=@item.Id&hometype=@s">
                    <div class="card">
                        <img class="card-img-top" src="@item.Home.Image" style="height:200px;" alt="خانه ارومیه">
                        <div class="card-block p-3">

                            <h4 class="card-title font-xs-b ">@s @item.Home.OwnerName </h4>
                            <p class="card-text content font-xs-ad">@item.Home.Address</p>
                        </div>
                        <hr style="margin-top:0px;margin-bottom:0px;margin-left:10px;margin-right:10px;" />
                        <div class="row" style="padding:10px;">
                            @if (item.Home.Hometype == 1 || item.Home.Hometype == 2 || item.Home.Hometype == 7)
                            {
                                <div class="col-4 text-center">
                                    <p class="font-xs-ad" style="font-size:12px;"><img src="/img/bed.png" style="width:15px;height:15px;" />@item.Home.Bed اتاق</p>

                                </div>
                                <div class="col-4 text-center">
                                    <p class="font-xs-ad" style="font-size:12px;"><img src="/img/bath.png" style="width:15px;height:15px;" /> @item.Home.Bath حمام</p>

                                </div>
                            }

                            <div class="col-4 text-center">
                                <p class="font-xs-ad" style="font-size:12px;"><img src="/img/Resize-icon.png" style="width:15px;height:15px;" /> @item.Metraz متر </p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
                }


    </div>