@model ViewModelLayer.UI.SearchList
<link href="~/lib/multiselect/multiselect.css" rel="stylesheet" />
<script src="~/lib/multiselect/multiselect.js"></script>

<style>
    .btn.btn-secondary {
        width: 20%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>
<div class="wrapper" style="padding:20px;">



    <div class="" style="padding-top:30px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">امکانات ملک </p>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-4">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:100px;"> اتاق خواب</label>
                            <input type="number" class="form-control" value="1" placeholder=" اتاق خواب" style="width:50px;" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:100px;"> پارکینگ</label>
                            <input type="number" class="form-control" value="1" placeholder=" پارکینگ" style="width:50px;" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:100px;font-size:14px;"> سرویس بهداشتی</label>
                            <input type="number" class="form-control" value="1" placeholder=" سرویس بهداشتی" style="width:50px;" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                        <label style="margin-left:10px;width:100px;"> سرویس بهداشتی</label>
                        <select class="selectpicker" multiple data-live-search="true">
                            @foreach (var item in Model.AmlakWC)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-3">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">عمر بنا </p>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:150px;"> عمر بنا</label>
                            <input type="number" class="form-control" value="1" placeholder="عمر بنا" style="width:100px;" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:150px;">متراژ کف مغازه</label>
                            <input type="number" class="form-control" value="1" placeholder="متراژ کف مغازه" style="width:100px;" />
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:150px;">دهنه مغازه</label>
                            <input type="number" class="form-control" value="1" placeholder="دهنه مغازه" style="width:100px;" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-inline" style="padding-top:10px;margin-right:2px;">
                            <label style="margin-left:10px;width:150px;">عرض ملک</label>
                            <input type="number" class="form-control" value="1" placeholder="عرض ملک" style="width:100px;" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr />

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">موقعیت ملک</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" data-live-search="true">
                    @foreach (var item in Model.AmlakMogheiatMelk)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">نوع زمین</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" data-live-search="true">
                    @foreach (var item in Model.AmlakNoeZamin)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">مشخصه ملک</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" multiple data-live-search="true">
                    @foreach (var item in Model.AmlakMoshakhase)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">وضعیت سند</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" data-live-search="true">
                    @foreach (var item in Model.AmlakSanadStatus)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">شرایط ویژه</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" data-live-search="true">
                    @foreach (var item in Model.AmlakMelkStatus)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">تاسیسات گرمایشی و سرمایشی</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" multiple data-live-search="true">
                    @foreach (var item in Model.AmlakTasisatGarmaieshi)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">آشپزخانه</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" multiple data-live-search="true">
                    @foreach (var item in Model.AmlakKitchen)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <div class="" style="padding-top:10px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="" style="padding-right:30px;padding-top:10px;">
                    <p style="font-weight:bold;font-size:16px;">سایر امکانات</p>
                </div>
            </div>
            <div class="col-9">
                <select class="selectpicker" multiple data-live-search="true" style="width:100%;">
                    @foreach (var item in Model.HomeFacility)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr>

    <a class="btn btn-success btn-block" style="color:white;">جستجو املاک</a>
</div>


<script>
    $('.selectpicker').selectpicker();
</script>