@model ViewModelLayer.Contract.Contractlist
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Managment.cshtml";
}



<section class="content-header">
    <h1>
        داشبورد
        <small>کنترل پنل</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/ContractManagment/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">قرارداد @ViewData["type"] جدید </li>
    </ol>
</section>

<div class="callout callout-info" style="margin-top:10px;">
    <h4>درج قرارداد @ViewData["type"] جدید</h4>

</div>

<div class="container" onload="hideall">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">قرارداد @ViewData["type"] جدید</h3>
        </div>

        <form asp-action="CreateItem">
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
                <input style="display:none" asp-for="Contract.HomeId" value="@ViewData["homeid"]" />
                <input style="display:none" name="hometype" id="hometype" value="@ViewData["hometype"]" />
                <div class="form-group">
                    <label> نوع قرارداد </label>
                    <select asp-for="Contract.TypContract" class="form-control" style="width:30%" onclick="showandhideitems(this.value);">
                        <option value="1" style="text-align:center">فروش</option>
                        <option value="2" style="text-align:center">رهن و اجاره</option>
                        <option value="3" style="text-align:center">ساخت و ساز</option>
                        <option value="4" style="text-align:center">فروخته شده</option>
                        <option value="5" style="text-align:center">اجاره داده شده</option>
                        <option value="6" style="text-align:center">ساخته شده</option>
                    </select>
                </div>
                <div id="buy">
                    <div class="form-group">
                        <label style="width:100%">قیمت پیشنهادی ( تومان ) - به عدد</label>
                        <input id="costbuy" name="costbuy" type="text" class="form-control" placeholder=" قیمت پیشنهادی" style="width:30%;display:inline-block;" value="0" onkeyup="separateNum(this.value,this);">
                        <h4 style="display:inline-block;padding:10px;color:red" id="txtcost1"></h4>
                    </div>
                </div>
                <div id="rent" style="display:none">
                    <div class="form-group">
                        <label style="width:100%">قیمت رهن  ( تومان ) - به عدد</label>
                        <input id="costrahn" name="costrahn" type="text" class="form-control" placeholder="قیمت رهن" style="width:30%;display:inline-block;" value="0" onkeyup="separateNum2(this.value,this);">
                        <h4 style="display:inline-block;padding:10px;color:red" id="txtcost2"> </h4>
                    </div>
                    <div class="form-group">
                        <label style="width:100%">قیمت اجاره  ( تومان ) - به عدد</label>
                        <input id="costejare" name="costejare" type="text" class="form-control" placeholder="قیمت اجاره" style="width:30%;display:inline-block;" value="0" onkeyup="separateNum3(this.value,this);">
                        <h4 style="display:inline-block;padding:10px;color:red" id="txtcost3"> </h4>
                    </div>

                </div>
                @if (ViewData["hometype"].ToString() != "3" && ViewData["hometype"].ToString() != "4" && ViewData["hometype"].ToString() != "8" && ViewData["hometype"].ToString() != "9")
                {
                    <div class="form-group">
                        <label style="width:100%">متراژ بنا  ( متر ) - به عدد</label>
                        <input asp-for="Contract.Metraz" type="number" class="form-control" placeholder=" متراژ" style="width:30%;display:inline-block;" value="0" onkeyup="showmetrvalue()">
                        <h4 style="display:inline-block;padding:10px;color:red" id="txtmetr"></h4>
                        <span asp-validation-for="Contract.Metraz" class="text-danger"></span>
                    </div>
                }

                @if (ViewData["hometype"].ToString() != "6")
                {
                    <div class="form-group">
                        <label style="width:100%">متراژ زمین ( متر ) - به عدد</label>
                        <input asp-for="Contract.MetrazZamin" type="number" class="form-control" placeholder=" متراژ زمین" style="width:30%;display:inline-block;" value="0" onkeyup="showmetrvaluezamin()">
                        <h4 style="display:inline-block;padding:10px;color:red" id="txtmetrzamin"></h4>
                        <span asp-validation-for="Contract.MetrazZamin" class="text-danger"></span>
                    </div>
                }

                <div class="form-group">
                    <button type="submit" class="btn btn-success">درج قرارداد جدید و رفتن به مرحله بعد</button>
                </div>

            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.box -->
</div>

<script>

    function sell() {
        $("#buy").show();
        $("#rent").hide();
    }

    function rent() {
        $("#buy").hide();
        $("#rent").show();
    }

    function build() {
        $("#buy").hide();
        $("#rent").hide();
    }

    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        priceconvertercost1();
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }

    function separateNum2(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        priceconvertercost2();
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }

    function separateNum3(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        priceconvertercost3();
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }
    function priceconvertercost1() {

        var cost = document.getElementById("txtcost1");
        var costbuy = $("#costbuy").val();
        costbuy = costbuy.split(',').join('');
        $.ajax({
            type: "Post",
            url: '/PriceConverter/AlphabeticPrice',
            data: { text: costbuy },
            success: function (data) {
                cost.innerText = data + " تومان ";
            }
        });
    }

    function priceconvertercost2() {
        var cost = document.getElementById("txtcost2");
        var costrehn = $("#costrahn").val();
        costrehn = costrehn.split(',').join('');
        $.ajax({
            type: "Post",
            url: '/PriceConverter/AlphabeticPrice',
            data: { text: costrehn },
            success: function (data) {
                cost.innerText = data + " تومان ";
            }
        });
    }

    function priceconvertercost3() {
        var cost = document.getElementById("txtcost3");
        var costrejare = $("#costejare").val();
        costrejare = costrejare.split(',').join('');
        $.ajax({
            type: "Post",
            url: '/PriceConverter/AlphabeticPrice',
            data: { text: costrejare },
            success: function (data) {
                cost.innerText = data + " تومان ";
            }
        });
    }


    function showmetrvalue() {
        var metr = document.getElementById("txtmetr");
        var metrcontract = $("#Contract_Metraz").val();
        $.ajax({
            type: "Post",
            url: '/PriceConverter/AlphabeticPrice',
            data: { text: metrcontract },
            success: function (data) {
                metr.innerText = data + " متر ";
            }
        });
        
    }

    function showmetrvaluezamin() {
        var metr = document.getElementById("txtmetrzamin");
        var metrcontract = $("#Contract_MetrazZamin").val();
        $.ajax({
            type: "Post",
            url: '/PriceConverter/AlphabeticPrice',
            data: { text: metrcontract },
            success: function (data) {
                metr.innerText = data + " متر ";
            }
        });
        
        }

    function showandhideitems(val) {
        if (val==1) {
            sell();
        } else if (val==2) {
            rent();
        }else if (val==3) {
            build();
        }else if (val==4) {
            rent();
        }else if (val==5) {
            sell();
        }else if (val==6) {
            build();
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

