@model ViewModelLayer.Adviser.AdviserMain
@{
    ViewData["Title"] = "adviser";
}


<style>
    #backchagner {
        box-shadow: inset 0px 80px 30px rgba(10, 10, 10, 0.35);
        background-image: url(/img/back2.jpg);
        height: 400px;
        width: 100%;
        background-size: 100% 100%;
        animation-name: zoomin;
        animation-duration: 4s;
        background-position: center center;
    }

    @@keyframes zoomin {
        from {
            background-size: 100% 100%;
        }

        to {
            background-size: 110% 110%;
        }
    }

    @@keyframes zoomout {
        from {
            background-size: 100% 100%;
        }

        to {
            background-size: 110% 110%;
        }
    }

    .zoom {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
        overflow: hidden;
    }

        .zoom:hover {
            transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

    .sticky {
        position: -webkit-sticky;
        position: fixed;
        left: 8%;
        top: 200px;
        z-index: 1000;
    }

    body {
        font-family: IRANSans !important;
        font-weight: 300;
    }

    h1, h2, h3, h4, h5, a, input, textarea {
        font-family: IRANSans !important;
        font-weight: bold;
    }

    h6, option {
        font-family: sahel;
        font-weight: bold;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.61);
    }

    .numberCircle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 8px;
        background: rgba(60, 58, 58, 0.25);
        color: black;
        text-align: center;
        display: inline;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    #btnsms {
        padding: 10px;
        color: white;
        width: 150px;
    }

        #btnsms:hover {
            color: black;
            background-color: white;
        }

    .border-number {
        display: inline-grid;
        margin: 15px;
        margin-right: 5px;
        cursor: pointer;
        background: #c78910;
        border-radius: 20px;
        width: 40px;
        color: white;
        text-align: center
    }

    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

        .card-signin .card-title {
            margin-bottom: 2rem;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .card-signin .card-body {
            padding: 2rem;
        }

    .form-signin {
        width: 100%;
    }

        .form-signin .btn {
            font-size: 80%;
            border-radius: 5rem;
            letter-spacing: .1rem;
            font-weight: bold;
            padding: 1rem;
            transition: all 0.2s;
        }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>
<div class=" fixed-top" style="background-color:#f8f9fa;">
    <div class="container" style="padding:5px;">
        <div class="" style="padding-left:20px;padding-right:20px;">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="row">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="mynavbar">
                                <ul class="navbar-nav list-unstyled card-columns">
                                    <li class="nav-item">
                                        <a href="#" class="text-red-hover nav-link mr-1"><img src="~/img/menu.png" style="width:40px;height:40px;margin-top:5px;margin-left:10px;" onclick="showhidemenu()" />حامی هوم</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 d-none d-sm-block" style="background-color:rgba(0, 0, 0, 0.00);font-size:17px;">
                    <div class="row float-right" style="">
                        <a href="#" class="text-center btnchange1" style="margin-left:5px;">پنل مدیریت مشاور</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr style="margin-top:0px;margin-bottom:0px;" />
    <div class="row" id="menusub">
        <div class="container text-center" style="padding-bottom:20px;padding-top:20px;">
            <a style="display:inline;margin:15px;cursor:pointer;" href="/Rezome/Index?id=@Model.Adviser.Id">رزومه مشاور</a>
            <a style="display:inline; margin:15px;cursor:pointer" href="/Rezome/Index?id=@Model.Adviser.Id">املاک اختصاص یافته</a>
        </div>
    </div>
    <div class="row" style="background-color:rgba(0, 0, 0, 0.80);direction:rtl" id="showwhenscroll">
        <div class="container">
            <div class="row" style="padding-top:0px;padding-bottom:0px;">
                <div class="col-lg-1 col-sm-12 col-md-1">
                    <div class="" style="padding-top:10px;">
                        @if (Model.Adviser.Image != null && Model.Adviser.Image != "")
                        {
                            <img src="http://panel.hamihomes.com/images/@Model.Adviser.Image"  style="border-radius:120px;width:90px;height:90px;text-align:center;align-content:center;padding:10px;" />
                        }
                        else
                        {
                            <img src="http://panel.hamihomes.com/images/def.jpg"  style="border-radius:120px;width:90px;height:90px;text-align:center;align-content:center;padding:10px;" />
                        }

                    </div>
                </div>

                <div class="col-lg-5 col-sm-12 col-md-5" style="padding-top:20px;">
                    <div class="">
                        <h5 style="padding:10px;color:white;">@Model.Adviser.Name  @Model.Adviser.Family</h5>
                    </div>

                    <div class="">
                        <h6 style="padding:10px;color:white;width:100%;">@Model.Adviser.Description</h6>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6" style="padding-top:30px;padding-left:22px;">
                    <a class="btn btn-default btn-default" style="color:white;width:150px;padding:10px;float:left;margin-left:20px;" href="/Rezome/Index?id=@Model.Adviser.Id">ثبت رزومه جدید</a>
                    <a class="btn btn-default btn-danger" style="color:white;width:150px;padding:10px;float:left;margin-left:20px;" onclick="showinfo()">ویرایش اطلاعات</a>
                    <a class="btn btn-default btn-primary" style="color:white;width:150px;padding:10px;float:left;margin-left:20px;" onclick="shownumberhide()" id="btnnumberphonehide"> <span class="fa fa-phone" style="padding:5px;"></span> تماس با ما</a>
                </div>

            </div>
        </div>

    </div>
</div>



<div class="mainback" id="backchagner">
    <div class="overlay">
        <div class="container">
            <div class="" style="padding-top:70px;">
                <div class="row">
                    <div class="col-lg-3 col-sm-12 col-md-6">
                        <div class="">
                            @if (Model.Adviser.Image != null && Model.Adviser.Image != "")
                            {
                                <img src="http://panel.hamihomes.com/images/@Model.Adviser.Image" class="border" style="border-radius:120px;width:200px;height:200px;text-align:center;align-content:center;" />
                            }
                            else
                            {
                                <img src="http://panel.hamihomes.com/images/def.jpg" class="border" style="border-radius:120px;width:200px;height:200px;text-align:center;align-content:center;" />
                            }

                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-md-6" style="padding-top:50px;">
                        <div class="">
                            <h2 style="padding:10px;color:white;">@Model.Adviser.Name  @Model.Adviser.Family</h2>
                        </div>

                        <div class="">
                            <h5 style="padding:10px;color:white;width:100%;">@Model.Adviser.Description</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:10px;float:left;padding-left:8%;">
                    <a class="btn btn-default btn-default" style="color:white;width:150px;padding:10px;float:left;margin-left:20px;" href="/Rezome/Index?id=@Model.Adviser.Id">ثبت رزومه جدید</a>
                    <a class="btn btn-default btn-danger" style="color:white;width:150px;padding:10px;float:left;margin-left:20px;" onclick="showinfo()">ویرایش اطلاعات</a>
                    <a class="btn btn-default btn-primary" style="color:white;width:150px;padding:10px;margin-right:20px;" onclick="shownumber('@Model.Adviser.Mobile')" id="btnnumberphone">
                        <span class="fa fa-phone" style="padding:5px;"></span>
                        تماس با ما
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>
<form asp-action="UpdateItem" enctype="multipart/form-data">
    <div class="container" id="info">
        @*<h3 class="text-center" style="padding-top:20px;color:rgba(111, 109, 109, 0.65)">ویرایش اطلاعات</h3>*@
        <input type="number" style="display:none;" value="@Model.Adviser.Id" id="Id" name="Id"/>
        <div class="row" style="padding-top:20px;">
            <div class="col-4" style="">
                <h5>عکس پروفایل</h5>
                <input type="file" class="form-control-file" style="padding:10px;float:right" id="Image" name="Image"/>
            </div>
            <div class="col-4">
                <h5>عکس پشت زمینه</h5>
                <input type="file" class="form-control-file" style="padding:10px;" id="BackgroundImage" name="BackgroundImage"/>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            <textarea class="form-control" placeholder="توضیحات خود را وارد کید" cols="3" id="description" name="description"></textarea>
        </div>
        <div class="row" style="padding:10px;">
            <button class="btn btn-success" type="submit">ویرایش اطلاعات</button>
        </div>
        <hr />
    </div>
</form>
    <div class="row">
        <div class="container text-center" style="padding-top:40px;">
            <h3 style="color:rgba(0, 0, 0, 0.70)">رزومه @Model.Adviser.Name  @Model.Adviser.Family</h3>
        </div>
        <div class="container text-center" style="padding-bottom:20px;padding-top:20px;">
            @{
                if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Selled).Count() > 0)
                {
                    <a style="display:inline; margin:15px;cursor:pointer" href="#">فروخته شده</a>
                    <p class="border-number">@Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Selled).Count()</p>
                }
                if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rented).Count() > 0)
                {

                    <a style="display:inline; margin:15px;cursor:pointer" href="#">اجاره داده شده</a>
                    <p class="border-number" style="background:#ff0000">@Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Selled).Count()</p>
                }
                if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Buy).Count() > 0)
                {

                    <a style="display:inline;margin:15px;cursor:pointer;" href="#">برای فروش</a>
                    <p class="border-number" style="background:#faa90a">@Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Buy).Count()</p>
                }
                if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rent).Count() > 0)
                {

                    <a style="display:inline; margin:15px;cursor:pointer" href="#">برای اجاره</a>
                    <p class="border-number" style="background:#ff0000">@Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rent).Count()</p>
                }
                if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.build).Count() > 0)
                {

                    <a style="display:inline; margin:15px;cursor:pointer" href="#">برای ساخت و ساز</a>
                    <p class="border-number">@Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.build).Count()</p>
                }
            }

        </div>
    </div>


    <div id="map" style="width:100%;height:400px;">

    </div>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <script>

    $("#info").hide();
     var map = L.map('map').setView([37.553278571293816, 45.07666215851912], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var LeafIcon = L.Icon.extend({
            options: {
                iconSize: [30, 30]
            }
        });

    var redIcon = new LeafIcon({ iconUrl: '/img/circle-red.png' });
    var goldIcon = new LeafIcon({ iconUrl: '/img/circle-gold.png' });
    var orangeIcon = new LeafIcon({ iconUrl: '/img/circle-orange.png' });

    var marker;
     @{
         if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Selled).Count()>0)
         {
             foreach (var item in Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Selled))
         {
            <text>
               marker = new L.Marker([@item.Home.Gpsx, @item.Home.Gpsy], { icon: redIcon });
               marker.addTo(map).on('click', function (e) {
               map.setView([@item.Home.Gpsx,@item.Home.Gpsy], 14);
              });
            </text>
             }
         }

         if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rented).Count()>0)
         {
             foreach (var item in Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rented))
         {
            <text>
               marker = new L.Marker([@item.Home.Gpsx, @item.Home.Gpsy], { icon: goldIcon });
               marker.addTo(map).on('click', function (e) {
               map.setView([@item.Home.Gpsx,@item.Home.Gpsy], 14);
              });
            </text>
             }
         }

         if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Buy).Count()>0)
         {
             foreach (var item in Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Buy))
         {
            <text>
               marker = new L.Marker([@item.Home.Gpsx, @item.Home.Gpsy], { icon: orangeIcon });
               marker.addTo(map).on('click', function (e) {
               map.setView([@item.Home.Gpsx,@item.Home.Gpsy], 14);
              });
            </text>
             }
         }

          if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rent).Count()>0)
         {
             foreach (var item in Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.Rent))
         {
            <text>
               marker = new L.Marker([@item.Home.Gpsx, @item.Home.Gpsy], { icon: redIcon });
               marker.addTo(map).on('click', function (e) {
               map.setView([@item.Home.Gpsx,@item.Home.Gpsy], 14);
              });
            </text>
             }
         }

          if (Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.build).Count()>0)
         {
             foreach (var item in Model.homes.Where(a => a.TypContract == DomainLayer.Enums.TypeHome.build))
         {
            <text>
               marker = new L.Marker([@item.Home.Gpsx, @item.Home.Gpsy], { icon: goldIcon });
               marker.addTo(map).on('click', function (e) {
               map.setView([@item.Home.Gpsx,@item.Home.Gpsy], 14);
              });
            </text>
             }
         }

         }


     function shownumber(number) {
            document.getElementById("btnnumberphone").innerHTML = "<span class='fa fa-phone' style='padding:5px;'></span> " + number;
        }

    function showinfo() {
    var x = document.getElementById("info");

        if (x.style.display === "none") {
            $("#info").slideDown(1000);
            x.style.display = "block";

        } else {
            $("#info").slideUp(1000);
            x.style.display = "none";

        }
    }
    </script>
